/* NAVBAR */
.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

/* LOGIN FORM */
#logreg-forms{
  width:412px;
  margin:10vh auto;
  background-color:#f3f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
}
#logreg-forms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
  text-align: center;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms .social-login{
  width:390px;
  margin:0 auto;
  margin-bottom: 14px;
}
#logreg-forms .social-btn{
  font-weight: 100;
  color:white;
  width:190px;
  font-size: 0.9rem;
}

#logreg-forms a{
  display: block;
  padding-top:10px;
  color:lightseagreen;
}

#logreg-form .lines{
  width:200px;
  border:1px solid red;
}

#logreg-forms label{
  font-size: 20px;
  font-weight: bold;
}

#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

/* #logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; } */

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
  width:210px !important;
  margin: 0 auto;
}

/*============================= TODO LIST ===========================*/
main {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}


#todolist{
  width: 800px;
  box-shadow: 0px 0px 3px 0px black;
}

#checkedList{
  width: 800px; 
  box-shadow: 0px 0px 3px 0px black;
}

#todoForm{ 
  width: 100%;
  height: auto;
}

#todoFormMain {
  margin-top: 20px; 
  display: flex; 
  justify-content: space-evenly;
}

#todoFormMain h4{
  font-weight: bold;
  margin-bottom: 15px;
}

#todayLabel {
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: #FFEF8C;
  width: 80px;
  height: 41px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

#todayDate {
  display: none;
}

#calendar, #time {
  padding: 5px;
  font-size: 18px;
}


input[type=checkbox]:checked ~ #todayLabel {
  background-color: #F3DE8A;
  -moz-box-shadow:    inset 0 0 7px #000000;
  -webkit-box-shadow: inset 0 0 7px #000000;
  box-shadow:         inset 0 0 7px #000000;
  font-weight: bold;
}

.todo-2-label {
  font-size: 20px;
}

#task {
  padding: 10px; 
  width: 88%; 
  margin: auto; 
}


.todoHeader h2{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.headerImg {
  width: auto;
  height: 50px;
}

.todoHeader {
 border-bottom: 1px solid #B5B7BC; 
 border-top-left-radius: 4px;
 border-top-right-radius: 4px;
}

#todolist .todoHeader {
  background-color: #F3DE8A;
  margin-bottom: 15px;
}

#checkedList  .todoHeader {
  background-color: #AEF490;
}

#todo-add {
  margin-top: 18px;
  width: 100%;
  margin-bottom: 20px;
}

#addImg{
  font-size: 18px;
  width: 90%;
  overflow: hidden;
  margin-top: 12px;
}

.badge-primary {
  background-color: red;
}

.deleteImg, .checkedImg, .dateImg {
  width: 30px;
  opacity: 0.7; 
  transition: 0.3s;
}

.deleteImg:hover, .checkedImg:hover {
  opacity: 1;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
}

.panel-body {
  font-size: 20px;
  margin-bottom:10px;
}

#accordion .panel, #accordionChecked .panel {
  transition: 0.4s;
}

#accordion .panel:hover {
  background-color: #F8EDBF;
}

#accordionChecked .panel:hover {
  background-color: #E3FDD8;
}

.taskDetail {
  display: flex;
  justify-content: space-around;
  width: 50%;
  /* border: 2px solid black; */
}

.taskDetail img {
  margin-right: 5px; 
}

.taskDate {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  /* border: 2px solid black;  */
  height: 30px; 
}

.taskDate p {
  margin-left: 5px;
  margin-right: 5px;
}

